.headerpage
	.header-page.container
		.header-group
			p.site-title
				|<@IF:[*id:is(1)*]>
				|[(site_name)]
				|<@ELSE>
				a(href="[(site_url)]")
					|[(site_name)]
				|<@ENDIF>
			p.site-description
				|Мы рады видеть Вас на официальном сайте государственного бюджетного общеобразовательного учреждения средней общеобразовательной школы с. Бобровка муниципального района Кинельский Самарской области
	.header-slick
		#slick-header
			.slick-item
				img(src="[(site_url)]assets/templates/projectsoft/images/slider-0001.jpg" alt="[(site_name)]")
			.slick-item
				img(src="[(site_url)]assets/templates/projectsoft/images/slider-0002.jpg" alt="[(site_name)]")
			.slick-item
				img(src="[(site_url)]assets/templates/projectsoft/images/slider-0003.jpg" alt="[(site_name)]")
	|{{@FILE assets/templates/projectsoft/tpl/menu.html}}