//-	
	script
		|var Hyphenopoly = {
		|	require: {
		|		ru		: "ru"
		|	},
		|	paths	: {
		|		maindir	: "/assets/templates/projectsoft/js/Hyphenopoly/",
		|		patterndir	: "/assets/templates/projectsoft/js/Hyphenopoly/patterns/"
		|	},
		|	setup	: {
		|		selectors	: {
		|			".hyphenation"	: {
		|				"minWordLength"	: 1
		|			},
		|			"table"	: {
		|				"minWordLength"	: 1
		|			}
		|		}
		|	}
		|};
	script(src="[(site_url)]assets/templates/projectsoft/js/Hyphenopoly/Hyphenopoly_Loader.js")