.hidden
	#sendbot.form.modal-form.sendbot
		.row
			h2.container-full.text-center.form-title
				|Спасибо!
			.container-full
				p.text-center
					|Ваш Вопрос отправлен!
				p.text-cente
					|После рассмотрения Вашего вопроса мы с Вами свяжемся.