.widget
	article.widget_director
		header.widget_director-header
			h3.widget_director-title
				strong
					|[(director_position)]:
			p
				strong
					|[(director)]
			p
				img(src="[(director_photo)]" alt="[(director)]")
		.widget_director-content
			dl
				dt
					p
						strong
							|Адрес:
				dd
					p
						i.icon-home
						|[(address)]
				dt
					p
						strong
							|Телефон:
				dd
					p
						i.icon-phone
						|[(phones:nl2br)]
				dt
					p
						strong
							|Электронный адрес:
				dd
					p
						i.icon-email
						a(href="mailto:[(email)]" target="_blank")
							|[(email)]
				dt
					p
						strong
							|Сайт:
				dd
					p
						i.icon-home
						a(href="[(site_url)]" target="_blank")
							|[(site_url)]
					p
						i.icon-vk
						a(href="https://vk.com/club196971711" target="_blank")
							|Группа в ВКонтакте