.widget
	article.widget_director
		header.widget_director-header
			h3.widget_director-title
				strong
					|Директор:
			p
				strong
					|Гойколова Марина Валерьевна
		.widget_director-content
			dl
				dt
					p
						strong
							|Адрес:
				dd
					p
						i.icon-home
						|446406, Россия, Самарская область, Кинельский район, с. Бобровка, улица Кирова, д. 28-Б
				dt
					p
						strong
							|Телефон:
				dd
					p
						i.icon-phone
						|8(84663)3-25-18
				dt
					p
						strong
							|Электронный адрес:
				dd
					p
						i.icon-email
						a(href="mailto:so_knl_koms_sch@samara.edu.ru" target="_blank")
							|so_knl_koms_sch@samara.edu.ru
				dt
					p
						strong
							|Сайт:
				dd
					p
						i.icon-home
						a(href="[(site_url)]" target="_blank")
							|https://bobrovka-shkola.minobr63.ru/
							//
								|[(site_url)]
					p
						i.icon-vk
						a(href="https://vk.com/club196971711" target="_blank")
							|Группа в ВКонтакте