# node & bower
bower_components
node_modules

# test
test
tests

*.sublime-workspace

site/manager
site/vendor

site/assets/*.*
site/assets/backup
site/assets/cache
site/assets/export
site/assets/files
site/assets/images
site/assets/import
site/assets/js
site/assets/lib
site/assets/site
site/assets/vendor

site/assets/snippets/*

site/assets/modules/*

site/assets/plugins/*

site/assets/templates/*

!site/assets/templates/.*
!site/assets/templates/projectsoft

site/assets/tvs/*.*


site/.*
site/*.md
site/*.php
site/*.txt

!site/.htaccess