# node & bower
bower_components
node_modules

# test
test
tests

# SublimeText workspace file
*.sublime-workspace

site/manager
site/vendor

site/assets/*.*
site/assets/backup
site/assets/cache
site/assets/export
site/assets/files
site/assets/images
site/assets/import
site/assets/js
site/assets/lib
site/assets/site
site/assets/vendor

# Snippets
site/assets/snippets/*

!site/assets/snippets/ogImage

# Modules
site/assets/modules/*

# Plugins
site/assets/plugins/*

# Templates
site/assets/templates/*

!site/assets/templates/.*
!site/assets/templates/projectsoft

# TV
site/assets/tvs/*.*

# Files
site/.*
site/*.md
site/*.php
site/*.txt
site/food/*.xlsx

!site/.editorconfig
!.gitignore
!site/.htaccess
!site/LICENSE.md