<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">{{@FILE assets/templates/projectsoft/tpl/head.html}}
	<body>
		<div class="body bvi-no-styles">
			<div class="eya-panel"><a href="javascript:;" title="Версия для слабовидящих"><i class="icon-eye-new"></i>Версия для слабовидящих</a></div>
			<header id="masthead" role="banner">{{@FILE assets/templates/projectsoft/tpl/header.html}}</header>
			<div class="main">
				<div class="primary">
					<div id="content" role="main">
						<article class="page page-[*id*] type-page clearfix" id="page-[*id*]">
							<header class="entry-header">
								<h1 class="entry-title">[*longtitle:ifempty=`[*pagetitle*]`*]</h1>
							</header>
							<div class="entry-content">[*content*]
								<div class="childrens">
									<!-- Вывод дочерних ресурсов-->[[DLMenu?
										&parents=`[*id*]`
										&maxDepth=`1`
										&showParent=`0`
										&urlScheme=`full`
										&ownerTPL=`@CODE: <ul>[+wrap+]</ul>`
										&rowTpl=`@CODE: <li><p><a href="[+url+]" [+link_attributes+]>[+title+]</a></p></li>`
										&prepare=`\ProjectSoft\PrepareDL::prepareUrlDLMenu`
										&rowClass=``
										&firstClass=``
										&lastClass=``
										&levelClass=``
										&webLinkClass=``
										&parentClass=``
										&hereClass=``
										&activeClass=``
										&oddClass=``
										&evenClass=``
									]]
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="secondary" id="secondary" role="complementary">{{@FILE assets/templates/projectsoft/tpl/widgets.html}}</div>
				<div class="main-footer">{{@FILE assets/templates/projectsoft/tpl/sites_link.html}} </div>
			</div>{{@FILE assets/templates/projectsoft/tpl/footer.html}}
		</div>{{@FILE assets/templates/projectsoft/tpl/site_scripts.html}}
	</body>
</html>