<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>[*titl*]</title>
		<base href="[(site_url)]">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284">
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
		<meta name="yandex-verification" content="[(yandex_verification)]">[*noIndex*]
		<!-- Favicons-->
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<style type="text/css">{{@FILE assets/templates/projectsoft/css/main.min.css}}</style>
		<link type="text/css" rel="stylesheet" href="[(site_url)]css.css?08a71ae650dc7f22f641aadb29b7c6e7">
		<meta name="apple-mobile-web-app-title" content="[(site_name:notags:strip)]">
		<meta name="application-name" content="[(site_name:notags:strip)]">
		<meta name="title" content="[*pagetitle:notags:strip*]">
		<meta name="description" content="[*desc:notags:strip*]">
		<meta name="keywords" content="[*keyw:notags:strip*]">
		<meta name="author" content="[(site_name)]">
		<link rel="alternate" type="application/rss+xml" title="RSS-лента [(site_name)]" href="[!getFullUrl? &amp;arr=`` &amp;id=`32`!]"><@IF:[*id:is(2)*]>
		<link rel="canonical" href="[!getFullUrl? &amp;arr=`` &amp;id=`[*id*]`!]"><@ENDIF>
		<meta name="og:title" content="[*pagetitle:notags:strip*]">
		<meta name="og:description" content="[*desc:notags:strip*]">[[ogImage]]
	</head>
	<body>
		<div class="body">
			<header>header</header>
			<div class="main">main</div>
			<footer>footer</footer>
		</div>
	</body>
</html>