<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
	<head>
		<base href="[(site_url)]">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284">
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
		<meta name="yandex-verification" content="[(yandex_verification)]">
		<style type="text/css"></style>
		<title>[*titl*]</title>[*noIndex*]
		<!-- Favicons-->
		<link rel="apple-touch-icon" sizes="57x57" href="[(site_url)]apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="[(site_url)]apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="[(site_url)]apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="[(site_url)]apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="[(site_url)]apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="[(site_url)]apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="[(site_url)]apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="[(site_url)]apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="[(site_url)]/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="[(site_url)]android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="[(site_url)]favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="[(site_url)]favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="[(site_url)]favicon-16x16.png">
		<link rel="manifest" href="[(site_url)]manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="[(site_url)]ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<link type="text/css" rel="stylesheet" href="[(site_url)]assets/templates/projectsoft/css/main.min.css?dfefd6fb34c27709949cbf21b73f52fd">
		<link type="text/css" rel="stylesheet" href="[(site_url)]css.css?dfefd6fb34c27709949cbf21b73f52fd">
		<meta name="apple-mobile-web-app-title" content="[(site_name:notags:strip)]">
		<meta name="application-name" content="[(site_name:notags:strip)]">
		<meta name="title" content="[*pagetitle:notags:strip*]">
		<meta name="description" content="[*desc:notags:strip*]">
		<meta name="keywords" content="[*keyw:notags:strip*]">
		<meta name="author" content="[(site_name)]">
		<!-- RSS-->
		<link rel="alternate" type="application/rss+xml" title="RSS-лента [(site_name)]" href="[(site_url)]rss.xml"><@IF:[*id:is(2)*]>
		<!-- Canonical-->
		<link rel="canonical" href="[(site_url)][~[*id*]~]"><@ENDIF>
		<!-- Open Graph-->
		<meta name="og:title" content="[*pagetitle:notags:strip*]">
		<meta name="og:description" content="[*desc:notags:strip*]">[[ogImage]]
	</head>
	<body>
		<div class="body">
			<header id="masthead" role="banner">
				<div class="headerpage">
					<div class="header-page container">
						<div class="header-group">
							<p class="site-title">
								<@IF:[*id:is(1)*]>
								[(site_name)]
								<@ELSE><a href="[(site_url)]">[(site_name)]</a><@ENDIF>
							</p>
							<p class="site-description">Мы рады видеть Вас на официальном сайте государственного бюджетного общеобразовательного учреждения средней общеобразовательной школы с. Бобровка муниципального района Кинельский Самарской области</p>
						</div>
					</div>
					<div class="header-slick">
						<div id="slick-header">
							<div class="slick-item"><img src="[(site_url)]assets/templates/projectsoft/images/slider-0001.jpg" alt="[(site_name)]"></div>
							<div class="slick-item"><img src="[(site_url)]assets/templates/projectsoft/images/slider-0002.jpg" alt="[(site_name)]"></div>
							<div class="slick-item"><img src="[(site_url)]assets/templates/projectsoft/images/slider-0003.jpg" alt="[(site_name)]"></div>
						</div>
					</div>
					<div class="header-navigation">
						<nav role="navigation">
							<ul>
								<li><span>Home</span></li>
								<li><a href="/news/">News</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			<div class="main">
				<div class="primary">
					<div id="content" role="main">
						<article class="page page-[*id*] type-page" id="page-[*id*]">
							<header class="entry-header">
								<h1 class="entry-title">[*longtitle*]</h1>
							</header>
							<div class="entry-content">
								{{@FILE assets/templates/projectsoft/tpl/gosuslugi.html}}
								[*content*]
							</div>
						</article>
					</div>
				</div>
				<div class="secondary" id="secondary" role="complementary">
					<div class="widgets">
						<div class="widget">
							<article class="widget_director">
								<header class="widget_director-header">
									<h3 class="widget_director-title"><strong>Директор:</strong></h3>
									<p><strong>Гойколова Марина Валерьевна</strong></p>
								</header>
								<div class="widget_director-content">
									<dl>
										<dt>
											<p><strong>Адрес:</strong></p>
										</dt>
										<dd>
											<p><i class="icon-home"></i>446406, Россия, Самарская область, Кинельский район, с. Бобровка, улица Кирова, д. 28-Б</p>
										</dd>
										<dt>
											<p><strong>Телефон:</strong></p>
										</dt>
										<dd>
											<p><i class="icon-phone"></i>8(84663)3-25-18</p>
										</dd>
										<dt>
											<p><strong>Электронный адрес:</strong></p>
										</dt>
										<dd>
											<p><i class="icon-email"></i><a href="mailto:so_knl_koms_sch@samara.edu.ru" target="_blank">so_knl_koms_sch@samara.edu.ru</a></p>
										</dd>
										<dt>
											<p><strong>Сайт:</strong></p>
										</dt>
										<dd>
											<p><i class="icon-home"></i><a href="[(site_url)]" target="_blank">https://bobrovka-shkola.minobr63.ru/
													<!--|[(site_url)]
													--></a></p>
											<p><i class="icon-vk"></i><a href="https://vk.com/club196971711" target="_blank">Группа в ВКонтакте</a></p>
										</dd>
									</dl>
								</div>
							</article>
						</div>
					</div>
				</div>
				<div class="main-footer">{{@FILE assets/templates/projectsoft/tpl/sites_link.html}} </div>
			</div>
			<footer class="footer" id="colophon" role="contentinfo">
				<div class="container">
					<div class="footer-row">
						<div class="footer-col-left">
							<p>
								Авторские права © [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!]
								 <a href="[(site_url)]">ГБОУ СОШ с. Бобровка м. р. Кинельский Самарской области</a>
							</p>
						</div>
						<div class="footer-col-center">
							<p><a class="icon-rss" href="[(site_url)]rss.xml" target="_blank"></a></p>
						</div>
						<div class="footer-col-right">
							<p>
								Developed by:
								 <a href="https://mynickname.com/projectsoft" target="_blank">ProjectSoft © 2000 - [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!]</a>
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>{{@FILE assets/templates/projectsoft/tpl/site_scripts.html}}
	</body>
</html>