<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">{{@FILE assets/templates/projectsoft/tpl/head.html}}
	<body>
		<div class="body bvi-no-styles">
			<div class="eya-panel"><a href="javascript:;" title="Версия для слабовидящих"><i class="icon-eye-new"></i>Версия для слабовидящих</a></div>
			<header id="masthead" role="banner">{{@FILE assets/templates/projectsoft/tpl/header.html}}</header>
			<div class="main">
				<div class="primary">
					<div id="content" role="main">
						<article class="page page-[*id*] type-page" id="page-[*id*]">
							<header class="entry-header">
								<h1 class="entry-title">[*pagetitle*]</h1>
							</header>
							<div class="entry-content">
								<@IF:[*id:is(2)*]>
								{{@FILE assets/templates/projectsoft/tpl/news.html}}
								<@ENDIF>
								<@IF:[*id:is(128)*]>
								{{@FILE assets/templates/projectsoft/tpl/news_tochka.html}}
								<@ENDIF>
							</div>
						</article>
					</div>
				</div>
				<div class="secondary" id="secondary" role="complementary">{{@FILE assets/templates/projectsoft/tpl/widgets.html}}</div>
				<div class="main-footer">{{@FILE assets/templates/projectsoft/tpl/sites_link.html}} </div>
			</div>{{@FILE assets/templates/projectsoft/tpl/footer.html}}
		</div>{{@FILE assets/templates/projectsoft/tpl/site_scripts.html}}
	</body>
</html>