body {
	background-color: @bgcolor;
}
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Roboto", "Open Sans", sans-serif;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
	font-size: 1em;
    line-height: 1.8;
    font-weight: normal;
}
* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}
p,
dl {
	margin-top: unset;
}
img {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	max-width: 100%;
}
a {
	transition: color .3s ease;
	&,
	&:focus {
		color: #d33;
	}
	&:hover {
		color: #f00;
	}
}
.body {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	min-height: ~'calc(100vh - 80px)';
	background-color: white;
	display: flex;
	flex-direction: column;
	> header,
	> fotter {
		flex: 0 0 auto;
	}
	> .main {
		flex: 1 0 auto;
		padding-top: 30px;
	}
	@media screen and (max-width: 810px) {
		margin-top: unset;
		margin-bottom: unset;
		min-height: 100vh;
	}
}