.main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.primary {
		width: ~'calc(100% - 330px)';
	}
	.secondary {
		width: 330px;
	}
	&-footer {
		flex: 1;
		width: 100%;
	}
	@media screen and (max-width: 910px){
		.primary,
		.secondary {
			width: 100%;
		}
	}
}