
<footer class="footer" id="colophon" role="contentinfo">
	<div class="container">
		<div class="footer-row">
			<div class="footer-col-left">
				<p>
					Авторские права © [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!]
					 <a href="[(site_url)]">ГБОУ СОШ с. Бобровка м. р. Кинельский Самарской области</a>
				</p>
			</div>
			<div class="footer-col-center">
				<p><a class="icon-rss" href="[(site_url)]rss.xml" target="_blank"></a></p>
			</div>
			<div class="footer-col-right">
				<p>
					Developed by:
					 <a href="https://mynickname.com/projectsoft" target="_blank">ProjectSoft © 2000 - [!$_SERVER['REQUEST_TIME']:dateFormat='Y'!]</a>
				</p>
			</div>
		</div>
	</div>
</footer>