
<script src="[(site_url)]assets/templates/projectsoft/js/appjs.min.js?2f739b88fc36296e7bd5f006685ecf4d"></script>
<script src="[(site_url)]assets/templates/projectsoft/js/main.min.js?2f739b88fc36296e7bd5f006685ecf4d"></script>
<script>
	var Hyphenopoly = {
		require: {
			ru		: "ru"
		},
		paths	: {
			maindir	: "/assets/templates/projectsoft/js/Hyphenopoly/",
			patterndir	: "/assets/templates/projectsoft/js/Hyphenopoly/patterns/"
		},
		setup	: {
			selectors	: {
				".hyphenation"	: {
					"minWordLength"	: 1
				},
				"table"	: {
					"minWordLength"	: 1
				}
			}
		}
	};
</script>
<!--script(src="[(site_url)]assets/templates/projectsoft/js/Hyphenopoly/Hyphenopoly_Loader.js")-->