
<div class="widget">
	<article class="widget_director">
		<header class="widget_director-header">
			<h3 class="widget_director-title"><strong>[(director_position)]:</strong></h3>
			<p><strong>[(director)]</strong></p>
			<p class="widget_director-header-img"><img src="[[thumb? &input=`[(director_photo)]` &options=`w=270,h=270,zc=C`]]" alt="[(director)]"><span class="bvi-caption-alt">[(director)]</span></p>
		</header>
		<div class="widget_director-content">
			<dl>
				<dt>
					<p><strong>Адрес:</strong></p>
				</dt>
				<dd>
					<p><i class="icon-home"></i>[(address)]</p>
				</dd>
				<dt>
					<p><strong>Телефон:</strong></p>
				</dt>
				<dd>
					<p><i class="icon-phone"></i>[(phones:nl2br)]</p>
				</dd>
				<dt>
					<p><strong>Электронный адрес:</strong></p>
				</dt>
				<dd>
					<p><i class="icon-email"></i><a href="mailto:[(email)]" target="_blank">[(email)]</a></p>
				</dd>
				<dt>
					<p><strong>Сайт:</strong></p>
				</dt>
				<dd>
					<p><i class="icon-home"></i><a href="[(site_url)]" target="_blank">[(site_url)]</a></p>
					<p><i class="icon-vk"></i><a href="https://vk.com/club196971711" target="_blank">Группа в ВКонтакте</a></p>
				</dd>
			</dl>
		</div>
	</article>
</div>