
<div class="widget">
	<article class="widget_director">
		<header class="widget_director-header">
			<h3 class="widget_director-title"><strong>Директор:</strong></h3>
			<p><strong>Гойколова Марина Валерьевна</strong></p>
		</header>
		<div class="widget_director-content">
			<dl>
				<dt>
					<p><strong>Адрес:</strong></p>
				</dt>
				<dd>
					<p><i class="icon-home"></i>446406, Россия, Самарская область, Кинельский район, с. Бобровка, улица Кирова, д. 28-Б</p>
				</dd>
				<dt>
					<p><strong>Телефон:</strong></p>
				</dt>
				<dd>
					<p><i class="icon-phone"></i>8(84663)3-25-18</p>
				</dd>
				<dt>
					<p><strong>Электронный адрес:</strong></p>
				</dt>
				<dd>
					<p><i class="icon-email"></i><a href="mailto:so_knl_koms_sch@samara.edu.ru" target="_blank">so_knl_koms_sch@samara.edu.ru</a></p>
				</dd>
				<dt>
					<p><strong>Сайт:</strong></p>
				</dt>
				<dd>
					<p><i class="icon-home"></i><a href="[(site_url)]" target="_blank">https://bobrovka-shkola.minobr63.ru/
							<!--|[(site_url)]
							--></a></p>
					<p><i class="icon-vk"></i><a href="https://vk.com/club196971711" target="_blank">Группа в ВКонтакте</a></p>
				</dd>
			</dl>
		</div>
	</article>
</div>