doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	//- Блок head
	include tpl/head.pug
	body
		.body.bvi-no-styles
			//- Кнопка «Версия для слабовидящих»
			include inc/eya.pug
			//- Шапка сайта
			header#masthead(role="banner")
				include tpl/header.pug
			.main
				//- Основной контент
				.primary
					#content(role="main")
						article(id!="page-[*id*]" class!="page page-[*id*] type-page")
							header.entry-header
								h1.entry-title
									|[*longtitle:ifempty=`[*pagetitle*]`*]
							.entry-content
								p.entry-content-time
									strong
										em
											|[!dateRus? &time=`[*news_date*]`!]
								|[*content*]
								|[*EvoVideo:is=``:then=` `:else=`{{@FILE assets/templates/projectsoft/tpl/get_evo_video.html}}`*]
								|[[PageBuilder]]
								p.entry-content-author
									strong
										em
											|[*news_person*]
				//- Виджеты
				.secondary#secondary(role="complementary")
					include tpl/widgets.pug
				//- Ссылки на сайты РФ
				.main-footer
					include tpl/sites_link.pug
				//- Форма обратной связи
				include tpl/sendbot.pug
			//- Подвал
			include tpl/footer.pug
		//- Подключение скриптов
		include tpl/site_scripts.pug
