doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	//- Блок head
	include tpl/head.pug
	body
		.body.bvi-no-styles
			//- Кнопка «Версия для слабовидящих»
			include inc/eya.pug
			//- Шапка сайта
			header#masthead(role="banner")
				include tpl/header.pug
			.main
				//- Основной контент
				.primary
					#content(role="main")
						article(id!="page-[*id*]" class!="page page-[*id*] type-page")
							header.entry-header
								h1.entry-title
									|[*pagetitle*]
							.entry-content
								|[*content*]
							.entry-content
								//- Новости
								|<@IF:[*id:is(2)*]>
								|{{@FILE assets/templates/projectsoft/tpl/news.html}}
								|<@ENDIF>
								//- Мероприятия Точка роста
								|<@IF:[*id:is(128)*]>
								|{{@FILE assets/templates/projectsoft/tpl/news_tochka.html}}
								|<@ENDIF>
								//- Детский садик
								|<@IF:[*id:is(133)*]>
								|{{@FILE assets/templates/projectsoft/tpl/news_spds.html}}
								|<@ENDIF>
								//- Школьный музей
								|<@IF:[*id:is(136)*]>
								|{{@FILE assets/templates/projectsoft/tpl/news_muzey.html}}
								|<@ENDIF>
								//- День победы
								|<@IF:[*id:is(70)*]>
								|{{@FILE assets/templates/projectsoft/tpl/news_victory.html}}
								|<@ENDIF>
				//- Виджеты
				.secondary#secondary(role="complementary")
					include tpl/widgets.pug
				//- Ссылки на сайты РФ
				.main-footer
					include tpl/sites_link.pug
				//- Форма обратной связи
				include tpl/sendbot.pug
			//- Подвал
			include tpl/footer.pug
		//- Подключение скриптов
		include tpl/site_scripts.pug
