doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	|{{@FILE assets/templates/projectsoft/tpl/head.html}}
	body
		.body.bvi-no-styles
			include inc/eya.pug
			header#masthead(role="banner")
				|{{@FILE assets/templates/projectsoft/tpl/header.html}}
			.main
				.primary
					#content(role="main")
						article(id!="page-[*id*]" class!="page page-[*id*] type-page")
							header.entry-header
								h1.entry-title
									|[*pagetitle*]
							.entry-content
								|[*content*]
							.entry-content
								//- Новости
								|<@IF:[*id:is(2)*]>
								|{{@FILE assets/templates/projectsoft/tpl/news.html}}
								|<@ENDIF>
								//- Мероприятия Точка роста
								|<@IF:[*id:is(128)*]>
								|{{@FILE assets/templates/projectsoft/tpl/news_tochka.html}}
								|<@ENDIF>
								//- Детский садик
								|<@IF:[*id:is(133)*]>
								|{{@FILE assets/templates/projectsoft/tpl/news_spds.html}}
								|<@ENDIF>
								//- Школьный музей
								|<@IF:[*id:is(136)*]>
								|{{@FILE assets/templates/projectsoft/tpl/news_muzey.html}}
								|<@ENDIF>
				.secondary#secondary(role="complementary")
					|{{@FILE assets/templates/projectsoft/tpl/widgets.html}}
				.main-footer
					|{{@FILE assets/templates/projectsoft/tpl/sites_link.html}}
				|{{@FILE assets/templates/projectsoft/tpl/sendbot.html}}
			|{{@FILE assets/templates/projectsoft/tpl/footer.html}}
		|{{@FILE assets/templates/projectsoft/tpl/site_scripts.html}}
