@charset "UTF-8";

@font-face {
  font-family: "IconsSite";
  src: url("/assets/templates/projectsoft/fonts/iconssite.woff2?d4339b899f4193464023fd5fd8c32170") format("woff2"), url("/assets/templates/projectsoft/fonts/iconssite.woff?d4339b899f4193464023fd5fd8c32170") format("woff"), url("/assets/templates/projectsoft/fonts/iconssite.ttf?d4339b899f4193464023fd5fd8c32170") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "IconsSite" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-begin:before {
  content: "\e900";
}

.icon-bell:before {
  content: "\e901";
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/assets/templates/projectsoft/fonts/opensanslight.woff2') format('woff2'), url('/assets/templates/projectsoft/fonts/opensanslight.woff') format('woff'), url('/assets/templates/projectsoft/fonts/opensanslight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('/assets/templates/projectsoft/fonts/opensanslightitalic.woff2') format('woff2'), url('/assets/templates/projectsoft/fonts/opensanslightitalic.woff') format('woff'), url('/assets/templates/projectsoft/fonts/opensanslightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'), url('/assets/templates/projectsoft/fonts/opensans.woff2') format('woff2'), url('/assets/templates/projectsoft/fonts/opensans.woff') format('woff'), url('/assets/templates/projectsoft/fonts/opensans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('/assets/templates/projectsoft/fonts/opensansitalic.woff2') format('woff2'), url('/assets/templates/projectsoft/fonts/opensansitalic.woff') format('woff'), url('/assets/templates/projectsoft/fonts/opensansitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/assets/templates/projectsoft/fonts/opensanssemibold.woff2') format('woff2'), url('/assets/templates/projectsoft/fonts/opensanssemibold.woff') format('woff'), url('/assets/templates/projectsoft/fonts/opensanssemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('/assets/templates/projectsoft/fonts/opensanssemibolditalic.woff2') format('woff2'), url('/assets/templates/projectsoft/fonts/opensanssemibolditalic.woff') format('woff'), url('/assets/templates/projectsoft/fonts/opensanssemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/assets/templates/projectsoft/fonts/opensansbold.woff2') format('woff2'), url('/assets/templates/projectsoft/fonts/opensansbold.woff') format('woff'), url('/assets/templates/projectsoft/fonts/opensansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('/assets/templates/projectsoft/fonts/opensansbolditalic.woff2') format('woff2'), url('/assets/templates/projectsoft/fonts/opensansbolditalic.woff') format('woff'), url('/assets/templates/projectsoft/fonts/opensansbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('/assets/templates/projectsoft/fonts/opensansextrabold.woff2') format('woff2'), url('/assets/templates/projectsoft/fonts/opensansextrabold.woff') format('woff'), url('/assets/templates/projectsoft/fonts/opensansextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('/assets/templates/projectsoft/fonts/opensansextrabolditalic.woff2') format('woff2'), url('/assets/templates/projectsoft/fonts/opensansextrabolditalic.woff') format('woff'), url('/assets/templates/projectsoft/fonts/opensansextrabolditalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}